<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!-- <<li><a href="/about">About</a></li> -->
        		<!--  <li><a href="/resources">Resources</a></li> -->
  		</ul>
		</nav>
		<div> <!-- <div class="container"> -->
			
		{{ content }}
			
		</div><!-- /.container -->
		<footer>
	    	<ul>
	        	<li><a href="https://github.com/SPE-R/SPE-R.github.io/tree/travis-build">SPE material on GitHub</a></li>
		</ul>
		</footer>
	</body>
</html>